//Variables

//Colors
$primary:rgb(1, 114, 150);
$white:rgb(255, 255, 255);
$greyTextColor:rgb(61, 61, 61);
$fadedPrimary:rgb(136, 185, 211);
$borderBox_Color:rgb(183, 183, 183);
$secondary:rgb(253, 191, 67);
$tPrimary:rgba(136,185,211,0.2);
$black: rgb(0, 0, 0);


// Font Sizes
$font-sm:1rem; //16px
$font-md:1.25rem; //20px
$font-lg:1.5625rem; //25px
$font-xlg:1.875rem; //30pxb

$trans-speed: 800ms;