//Variables

//Colors
$primary:#017296;
$white:#fff;
$greyTextColor:#3D3D3D;
$fadedPrimary:#88B9D3;
$borderBox_Color:#B7B7B7;
$secondary:#FDBF43;

// Font Sizes
$font-sm:1em;
$font-md:1.25em;
$font-lg:1.5625em;
$font-xlg:1.875em;
