.nav{
    background-color: $fadedPrimary;
    &__web-name{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 38px;
        line-height: 57px;
        color: #017296;
    }

    &__button{

    }
}